:root {
    --color-primary: #55c57a;
    --color-primary-light: #7ed56f;
    --color-primary-dark: #28b485;

    --color-green:rgb(56, 121, 19);
    --color-green-dark: rgb(1, 58, 18);

    --color-yellow: rgb(241, 255, 85);

    --color-ivory: #FFFFE8;

    --color-white: #fff;

    --font-regular: 400;
    --font-thin: 200;
    --font-bold: 600;

    --box-shadow: 0 3px 8px rgba(0, 0, 0, .4);
    --box-shadow-small: 0 5px 10px rgba(0, 0, 0, .3);
    --box-shadow-big: 0 7px 15px rgba(0, 0, 0, .2);

    --transition: all .2s ease-in-out;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: var(--font-regular);
    font-size: 1.6rem;
    background-color: var(--color-ivory);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

a {
    text-decoration: none;
}

.container {
    flex-grow: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    margin: 3rem 0;
    position: relative;
}

.header__logo {
    width: 15rem;
    height: auto;
}

.app__title {
    font-size: 4rem;
    color: var(--color-green-dark);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.btn__pokemon-name {
    background-image: linear-gradient(to right bottom, 
        var(--color-primary-light), 
        var(--color-primary), 
        var(--color-primary-dark)) ;
    color: inherit;
    border: none;
    box-shadow: var(--box-shadow);
    padding: 1.75rem 3rem;
    margin-bottom: 2.5rem;
    transition: var(--transition);
}

.btn__pokemon-name:hover {
    cursor: pointer;
    color: var(--color-yellow);
    filter: brightness(1.05);
    transform: translateY(-5px) scale(1.15);
    box-shadow: var(--box-shadow-big);
}

.footer {
    color: var(--color-green);
    text-align: center;
    padding: 4rem 0;
}

.footer__media{
    width: 4rem;
    height: 4rem;
    fill: var(--color-green-dark);
    transition: var(--transition);
    margin: 1.5rem;
}

.footer__media:hover {
    filter: brightness(3);
    transform: scale(1.25);
}

.footer__text {
    opacity: .6;
}

@media all and (max-width: 45.62em) {
    .header__logo {
        width: 10rem;
        height: auto;
    }

    .app__title {
        font-size: 3.5rem; 
    }
}


@media all and (max-width: 31.25em) {

    body {
        padding: 0 1.5rem;
    }

    .header__logo {
        width: 8rem;
        height: auto;
    }

    .app__title {
        font-size: 3rem;
        transform: translate(-30%, -50%);
    }

    .btn__pokemon-name {
        margin-bottom: 2rem;
    }

    .footer__media{
        width: 3.5rem;
        height: 3.5rem;
    }

    .footer__text {
        font-size: 1.4rem;
    }
}
