:root {
    --color-primary: #55c57a;
    --color-primary-light: #7ed56f;
    --color-primary-dark: #28b485;
    --color-primary-darker: #0e9467;

    --color-green:rgb(56, 121, 19);
    --color-green-lightest: rgb(197, 231, 191);
    --color-green-light: rgb(176, 226, 167);
    --color-green-light-2: rgb(138, 211, 125);
    --color-green-light-3: rgb(101, 220, 81);
    --color-green-dark: rgb(1, 58, 18);

    --color-yellow: rgb(241, 255, 85);

    --color-ivory: rgb(255, 255, 232);
    --color-ivory-transparent: rgba(255, 255, 232, 0.75);

    --color-white: #fff;

    --font-regular: 400;
    --font-thin: 200;
    --font-bold: 600;

    --text-shadow: 0 1px 4px var(--color-green-dark);;

    --box-shadow: 0 3px 8px rgba(0, 0, 0, .4);
    --box-shadow-small: 0 5px 10px rgba(0, 0, 0, .3);
    --box-shadow-big: 0 7px 15px rgba(0, 0, 0, .2);

    --transition: all .2s ease-in-out;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: var(--font-regular);
    font-size: 1.6rem;
    letter-spacing: 2px;
    background-color: var(--color-ivory);
    color: var(--color-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

a {
    text-decoration: none;
}

.flex-box {
    flex-grow: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    margin-bottom: 2rem;
}

.header__logo {
    width: 15rem;
    height: auto;
}

.form-inline {
    justify-content: flex-end;
    transform: scale(1.25) translateX(-1rem);
}

.app__title {
    width: max-content;
    font-size: 4rem;
    font-weight: var(--font-bold);
    color: var(--color-green-dark);
    margin-bottom: 3rem;
}

.pokemon-list {    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 2.5rem;
    justify-items: center;
    align-items: center;
}

.pokemon-list li {
    text-align: center;
}

.btn__pokemon-name {
    background-image: linear-gradient(to right bottom, 
        var(--color-primary-light), 
        var(--color-primary-light), 
        var(--color-primary), 
        var(--color-primary-dark)) ;
    color: var(--color-white);
    text-shadow: var(--text-shadow);
    font-size: 1.8rem;
    text-transform: capitalize;
    letter-spacing: inherit;
    border: none;
    outline: none;
    box-shadow: var(--box-shadow);
    padding: 1.5rem 3rem;
    transition: var(--transition);
}

.btn__pokemon-name:hover {
    cursor: pointer;
    color: var(--color-yellow);
    filter: brightness(1.05);
    transform: translateY(-5px) scale(1.15);
    box-shadow: var(--box-shadow-big);
}

.footer {
    color: var(--color-green);
    text-align: center;
    padding: 4rem 0;
}

.footer__media{
    width: 4rem;
    height: 4rem;
    fill: var(--color-green-dark);
    transition: var(--transition);
    margin: 1.5rem;
}

.footer__media:hover {
    filter: brightness(3);
    transform: scale(1.25);
}

.footer__text {
    opacity: .6;
}



/* Modal */
.modal-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    box-shadow: var(--box-shadow-big);
    border: none;
    border-radius: none;
    top: 25%;
}

.modal-content {
    background-image: linear-gradient(to bottom, 
    var(--color-green-light), 
    var(--color-green-light-2), 
    var(--color-primary-dark));
    border: none;
}

.modal-header {
    border-bottom: none;
}

button.close {
    font-size: 3rem;
}

.modal-body.pokemon__details {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.pokemon__name {
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: var(--font-bold);
    color: var(--color-green-dark);
    margin-left: auto;
}

.pokemon__img-box {
    width: 15rem;
    align-self: center;
    text-align: center;
}

.pokemon__details {
    color: var(--color-white);
    font-size: 1.8rem;
    text-shadow: var(--text-shadow);
}

.pokemon__types,
.pokemon__abilities {
    list-style: none;
}

.pokemon__types>*,
.pokemon__abilities>* {
    display: inline-block;
    margin-right: 1.2rem;
}


.hide-element {
    display: none;
}




@media all and (max-width: 45.62em) {

    .header__logo {
        width: 10rem;
    }

    .app__title {
        font-size: 3.5rem; 
    }

    .pokemon-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 36.25em) {

    .header__logo {
        width: 7.5rem;
    }

    .form-control {
        width: 60%;
    }
  
    .pokemon__name {
        font-size: 2.7rem;
    }
}


@media all and (max-width: 31.25em) {

    body {
        padding: 0 1.5rem;
    }

    .navbar-brand {
        margin-bottom: 1rem;
    }

    .form-inline {
        justify-content: center;
        transform: scale(1) translateX(0);
    }

    .app__title {
        width: auto;
        font-size: 2.5rem;
    }

    .pokemon-list {
        grid-template-columns: 1fr;
        grid-row-gap: 2rem;
    }

    .btn__pokemon-name {
        width: 100%;
        padding: 1rem 4rem;
    }

    .footer {
        padding: 3rem 0;
    }

    .footer__media{
        width: 3.5rem;
        height: 3.5rem;
    }

    .footer__text {
        font-size: 1.4rem;
    }
}
